[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>


<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->
  <!-- <div>HI max </div> -->
  <div class="field" v-if="reply_status==false">
    <input class="input" type="text" placeholder="whats on your mind?" v-model="content" /> 
  </div>
  <div class="field" v-if="reply_status==false">
    <div class="control">
      <button class="button is-link" @click="add_meow">Publish!</button>
    </div>
  </div>
  <div class="columns" >
    <!-- YOUR FEED -->
    <table>
      <tbody>
        <tr v-for="m in meows.slice().reverse()" v-if="m.author != currentUser && m.currentID == currentID && your_feed_status == true">
          <td>
            
            <!-- <div>{{content}}</div> -->
            <div class="box">
              <div class="content">
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fa fa-user"></i>
                      </span>
                      <span class="ml-2">{{ m.author }}</span>
                    </a>
                  </div>
                  <div class="level-right">
                    <span class="level-item">{{ formatTime(m.timestamp) }}</span>
                  </div>
                </nav>
                <div class="content">
                  {{ m.content }}
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fa fa-reply" aria-hidden="true" @click="reply(m)"></i>
                      </span>
                      <span class="ml-1">{{m.total_replies}}</span>
                    </a>
                    <a class="level-item" aria-label="retweet">
                      <span class="icon is-small">
                        <i class="fa fa-retweet" aria-hidden="true" @click="add_meow(m)"></i>
                      </span>
                    </a>
                  </div>
                </nav>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- SOLO FEED -->
    <table>
      <tbody>
        <tr v-for="m in meows.slice().reverse()" v-if="m.author == currentUser && your_meow_status == true">
          <td>
            <!-- <div>{{content}}</div> -->
            <div class="box">
              <div class="content">
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fa fa-user"></i>
                      </span>
                      <span class="ml-2">{{ m.author }}</span>
                    </a>
                  </div>
                  <div class="level-right">
                    <span class="level-item">{{ formatTime(m.timestamp) }}</span>
                  </div>
                </nav>
                <div class="content">
                  {{ m.content }}
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fa fa-reply" aria-hidden="true" @click="reply(m )" ></i>
                      </span>
                      <span class="ml-1">{{m.total_replies}}</span>
                    </a>
                    <a class="level-item" aria-label="retweet">
                      <span class="icon is-small">
                        <i class="fa fa-retweet" aria-hidden="true" @click="add_meow(m)"></i>
                      </span>
                    </a>
                  </div>
                </nav>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- ALL FEED -->
    <table>
      <tbody>
        <tr v-for="m in meows.slice().reverse()" v-if="recent_meow_status == true">
          <td>
            <!-- <div>{{content}}</div> -->
            <div class="box">
              <div class="content">
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fa fa-user"></i>
                      </span>
                      <span class="ml-2">{{ m.author }}</span>
                    </a>
                  </div>
                  <div class="level-right">
                    <span class="level-item">{{ formatTime(m.timestamp) }}</span>
                  </div>
                </nav>
                <div class="content">
                  {{ m.content }}
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fa fa-reply" aria-hidden="true" @click="reply(m)"></i>
                      </span>
                      <span class="ml-1">{{m.total_replies}}</span>
                    </a>
                    <a class="level-item" aria-label="retweet">
                      <span class="icon is-small">
                        <i class="fa fa-retweet" aria-hidden="true" @click="add_meow(m)"></i>
                      </span>
                    </a>
                  </div>
                </nav>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- SPECIFIC FEED -->
    <table>
      <tbody>
        <tr v-for="m in meows.slice().reverse()" v-if="specific_status == true && m.author == specific_name">
          <td>
            <!-- <div>{{content}}</div> -->
            <div class="box">
              <div class="content">
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fa fa-user"></i>
                      </span>
                      <span class="ml-2">{{ m.author }}</span>
                    </a>
                  </div>
                  <div class="level-right">
                    <span class="level-item">{{ formatTime(m.timestamp) }}</span>
                  </div>
                </nav>
                <div class="content">
                  {{ m.content }}
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fa fa-reply" aria-hidden="true" @click="reply(m)"></i>
                      </span>
                      <span class="ml-1">{{m.total_replies}}</span>
                    </a>
                    <a class="level-item" aria-label="retweet">
                      <span class="icon is-small">
                        <i class="fa fa-retweet" aria-hidden="true" @click="add_meow(m)"></i>
                      </span>
                    </a>
                  </div>
                </nav>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- REPLY FEED -->
    <table v-if="reply_status==true">
      <tbody>
        <tr v-for="m in meows.slice().reverse()" v-if="m.author == reply_owner && m._idx == reply_index">
          <td>
            <div class="box">
              <div class="content">
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fa fa-user"></i>
                      </span>
                      <span class="ml-2">{{ m.author }}</span>
                    </a>
                  </div>
                  <div class="level-right">
                    <span class="level-item">{{ formatTime(m.timestamp) }}</span>
                  </div>
                </nav>
                <div class="content">
                  {{ m.content }}
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fa fa-reply" aria-hidden="true" @click="reply(m)"></i>
                      </span>
                      <span class="ml-1">{{m.total_replies}}</span>
                    </a>
                    <a class="level-item" aria-label="retweet">
                      <span class="icon is-small">
                        <i class="fa fa-retweet" aria-hidden="true" @click="add_meow(m)"></i>
                      </span>
                    </a>
                    
                  </div>
                </nav>
              </div>
            </div>
            <div class="field">
              <input class="input" type="text" placeholder="whats on your mind?" v-model="content" /> 
            </div>
            <!-- <div>{{content}}</div> -->
            <div class="field">
              <div class="control">
                <button class="button is-link" @click="add_meow">Reply</button>
              </div>
            </div>
          </td>
        </tr>

        <tr v-for="m in meows.slice().reverse()" v-if="m.reply_owner == reply_index && m._idx != reply_index">
          <td>
            <div class="box">
              <div class="content">
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fa fa-user"></i>
                      </span>
                      <span class="ml-2">{{ m.author }}</span>
                    </a>
                  </div>
                  <div class="level-right">
                    <span class="level-item">{{ formatTime(m.timestamp) }}</span>
                  </div>
                </nav>
                <div class="content">
                  {{ m.content }}
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fa fa-reply" aria-hidden="true" @click="reply(m)"></i>
                      </span>
                      <span class="ml-1">{{m.total_replies}}</span>
                    </a>
                    <a class="level-item" aria-label="retweet">
                      <span class="icon is-small">
                        <i class="fa fa-retweet" aria-hidden="true" @click="add_meow(m)"></i>
                      </span>
                    </a>
                  </div>
                </nav>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    

    
    
    
      
    <div class="column is-one-third has-background-light">
      <div class="field">
        <p class="control has-icons-right"> 
          <button class="button is-link" @click="your_feed" v-if="your_feed_status==true">Your Feed</button>
          <button class="button has-border" @click="your_feed" v-else>Your Feed</button>
          <button class="button is-link" @click="your_meows" v-if="your_meow_status==true">Your Meows</button>
          <button class="button has-border" @click="your_meows" v-else>Your Meows</button>
          <button class="button is-link" @click="recent_meows" v-if="recent_meow_status==true">Recent Meows</button>
          <button class="button has-border" @click="recent_meows" v-else>Recent Meows</button>
          <input class="input" type="text" v-model="search_filter" /> 
          <span class="icon is-small is-right clickable" @click="clear_search">
            <i class="fa fa-times-circle"></i>
          </span>
        </p>
      </div>

      <div>{{ search_filter }}</div>
      
      <!-- User table to follow/unfollow  -->
      <table>
        <tbody>
          <tr v-for="r in rows" v-if="r.username.startsWith(search_filter) && current!=r.email" >
            <td>
              <div class="field is-grouped">
                <p class="control">
                  <button class="button" @click="user_feed(r.username)">
                    <span>{{ r.username }}</span>
                  </button>
                </p>
                <p class="control"> 
                  <button class="button is-success is-outlined" @click="set_follow(r._idx)">
                    <span class="icon is-small">
                      <i class="fa fa-check"></i>
                    </span>
                    <!-- <span>{{r.currentID}}</span> -->
                    <span v-if="r.currentID == currentID">Unfollow</span>
                    <span v-else>Follow</span>
                    
                  </button>
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>

</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_users_url = "[[=XML(get_users_url)]]";
  let follow_url = "[[=XML(follow_url)]]";
  let unfollow_url = "[[=XML(unfollow_url)]]";
  let meow_url = "[[=XML(meow_url)]]"
</script>

<script src="js/index.js"></script>
[[end]]
