[[extend 'layout.html']]

<div class="section">

  <h1 class="title">Edit Contact's Phone Numbers</h1>

  <table class="table"  style="margin-top: 20px;">
    <thead>
       <tr>
          <th>Phone</th>
          <th>Kind</th>
          <th></th>
       </tr>
    </thead>
    <tbody>
       [[for index, row in enumerate(rows):]]
       [[if index != 0:]]
       <tr>
          <td>[[ =row.phone_number]]</td>
          <td> [[ =row.purpose ]]</td>          
          <td>
             <a class="button" href="[[=URL('edit_number', row.id, signer=url_signer)]]">
                <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> 
             </a>
             <a class="button" href="[[=URL('delete_number', row.id, signer=url_signer)]]">
                <span class="icon"><i class="fa fa-fw fa-trash"></i></span> 
             </a>
          </td>
         </tr>
       </tr>
       [[pass]]
       [[pass]]
    </tbody>
 </table>
 <a class="button is-success" href="[[=URL('index')]]">
  <span class="icon"></span>
  <span>Back</span>
 </a>
 <a class="button is-success" href="[[=URL('add_number', contact_id, signer=url_signer)]]">
  <span class="icon"></span>
  <span>Add Number</span>
 </a>

</div>