[[extend 'layout.html']]

<div class="section">
   <h1 class="is-size-3 has-text-weight-bold">Your Address Book</h1>
   
   <div class="columns">
      <hr class="is-divider">
      <table class="table"  style="margin-top: 20px;">
         <thead>
            <tr>
               <th>First Name</th>
               <th>Last Name</th>
               <th></th>
               <th>Phone Numbers</th>
            </tr>
         </thead>
         <tbody>
            [[for row in contacts:]]
            <tr>
               <td>[[ =row.first_name ]]</td>
               <td>
                  [[ =row.last_name ]]
                  <a class="button" href="[[=URL('edit_contact', row.id, signer=url_signer)]]">
                     <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> 
                  </a>
                  <a class="button" href="[[=URL('delete_contact', row.id, signer=url_signer)]]">
                     <span class="icon"><i class="fa fa-fw fa-trash"></i></span> 
                  </a>
               </td>
               [[for phone in phones:]]
               [[if (phone.contact_id == row.id) and (phone.phone_number != ""):]]
               <td>[[ =phone.phone_number]] ([[ =phone.purpose]]),</td> 
               [[pass]]
               [[pass]]
               <td>
                  <a class="button" href="[[=URL('edit_phone', row.id, signer=url_signer)]]">
                     <span class="icon"><i class="fa fa-fw fa-pencil"></i></span> 
                  </a>
               </td>
            </tr>
            [[pass]]
         </tbody>
      </table>
      
   </div>
   <a class="button is-success" href="[[=URL('add', signer=url_signer)]]">
      <span class="icon"></span>
      <span>Add Contact</span>
   </a>
   
</div>